body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(102, 104, 101);
    font-family: Arial, sans-serif;
  }
  .container img {
    max-width: 150px;
    margin-bottom: 20px;
  }
  .container {
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  .container p {
    
    margin: 10px 0;
    text-align: left;
  }
  .container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .container button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .container button:hover {
    background-color: darkgreen;
  }

/* Media Query for smaller screens */
@media screen and (max-width: 512px) {
        body {
            padding: 10px; /* Add padding around the body */
        }
        .container {
            width: 40vh; /* Adjust width to fit the screen */
            padding: 15px 20px; /* Reduce padding */
        }
        .container img {
            max-width: 25vh; /* Shrink logo size */
        }
        .container h1 {
            font-size: 25px; /* Reduce font size */
        }
        .container p {
            font-size: 14px; /* Adjust text size for labels */
        }
        .container input[type="text"] {
            padding: 8px; /* Reduce input field padding */
        }
        .container button {
            padding: 12px 15px; /* Reduce button size */
            font-size: 14px; /* Adjust button font size */
        }
    }